* {
    text-align: center;
}
.container {
    margin: 50px;
    outline: solid 1px black;
    border: double;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.form {
    width: 50vw;
    height: 15vh;
    padding-top: 5vh;
    
    
}
button {
	background-color: white;
	color: rgb(59, 47, 47);
	padding: 14px 20px;
	margin: 8px 0;
	border: double;
	cursor: pointer;
	width: 30%;
    }
    
    button:hover {
	opacity: 0.4;
    }
    
    
